# 3. 2. 파이썬을 계산기로 사용하기

## 정수 연산

In [2]:
1 + 1

2

In [5]:
1+  3 #띄어쓰기도 가능

4

In [6]:
8 // 3 #몫

2

In [7]:
8 % 3 #나머지

2

In [9]:
2 ** 4 #제곱

16

### Exercise 3.2.1
- 파이썬으로 다음 연산을 진행한다.

In [2]:
# 3 * 2 - 8 / 4
3 * 2 - 8 / 4

4.0

In [3]:
# 25 * 6 / 3 + 17
25 * 6 / 3 + 17

67.0

In [4]:
# 39021 - 276920 / 12040
39021 - 276920 / 12040

38998.0

In [5]:
# 2^6 - 10 % 6
(2**6) - (10%6)

60

## 연산 순서와 괄호

### Exercise 3.2.2
- 파이썬으로 다음 연산을 진행한다.

In [7]:
12 - (5*7+1)

-24

In [8]:
5 * (8+(10-6/2))

75.0

In [9]:
48320 - ((365-5*9)/16) * 987

28580.0

In [10]:
(((3**4)-3*7)%5 + 4)**2

16

## 부등식의 참과 거짓 계산

파이썬에서는 참과 거짓을 계산한 뒤, TRUE/FALSE로 값을 반환한다.

In [11]:
2 > 1

True

In [12]:
2 == 1

False

### Exercise 3.2.3
- 파이썬을 계산기로 사용하여 답이 True / False인 부등식을 만든다.

In [15]:
2 > 1

True

In [18]:
2 < 1

False

## 부울리언 대수 (And / Or 연산)

In [19]:
(2 > 0) & (2 < 3)

True

In [21]:
(2 > 2) | (2 < 3) #True가 선행함을 알 수 있다.

True

### Exercise 3.2.4
- 다음 식의 값이 참인지 거짓인지 파이썬으로 확인한다.

In [23]:
(5 <= 6) & (3 == 4)

False

In [25]:
(2 != 1) | (3 >= 4)

True

In [26]:
(5 <= 6) & ((0 == 0) | (3 < 4))

True

## 변수 사용하기
특정 값을 변수에 담아두었다가 사용한다.
R과는 다르게 등호 기호만을 사용할 수 있으며, 좌변에는 할당할 변수를 둔다.

In [27]:
a = 2
b = 3
a*b

6

### Exercise 3.2.5
- 변수들의 값을 바꾸어 가면서 수식을 계산해 보자.

In [36]:
x = 2 ; y = 7 ; z = 10
(2*x-1)**2 + 1

10

In [39]:
(x**(2*y)) * (z + 10)

327680

# 파이썬으로 글자를 출력하기

In [40]:
print('Hello')

Hello

In [41]:
print('Good day!')

Good day!

## 문자열 연산
문자열도 숫자처럼 덧셈과 곱셈 연산을 할 수 있다.

In [42]:
print('Hello, ' + 'World!')

Hello, World!

In [44]:
print('내 이름은 ' + '홍길동' + '입니다.')

내 이름은 홍길동입니다.

In [45]:
print('*' * 10)

**********

## 숫자를 문자열로 바꾸기

In [46]:
str(7)

'7'

In [48]:
n = 10
print('별표를 ' +str(n) + '번 출력합니다.')
print('*' * n)

별표를 10번 출력합니다.
**********

## 한 줄 띄우기(line feed)

In [49]:
print('한 줄 쓰고\n그 다음 줄을 쓴다.')

한 줄 쓰고
그 다음 줄을 쓴다.

## 줄을 바꾸지 않고 이어서 출력하기

In [51]:
print('한 줄 쓰고 ', end = '')
print('이어서 쓴다.')

한 줄 쓰고 이어서 쓴다.

## 문자열 값을 가지는 변수

In [52]:
name = '홍길동'
print('내 이름은 ' + name + '입니다.')

내 이름은 홍길동입니다.

In [54]:
mark = '$'
n = 20
print(mark + ' 기호를' + str(n) + '번 출력합니다.')
print(mark * n)

$ 기호를20번 출력합니다.
$$$$$$$$$$$$$$$$$$$$

## 따옴표를 출력하기
문자열 내에 큰따옴표가 있어야 할때는 전체를 작은 따옴표로,  
반대 상황에서는 반대로 사용하면 된다.

In [55]:
print('둘리가 "호이!"하고 말했어요.')

둘리가 "호이!"하고 말했어요.

In [56]:
print("둘리가 '이제 어디로 가지?'하고 생각했어요.")

둘리가 '이제 어디로 가지?'하고 생각했어요.

## 여러 줄의 문자열 출력하기
여러 줄의 문자를 출력 / 변수에 할당하려면 '''~''' & """~"""을 사용.

In [57]:
multi_line_string = """
                        파이썬(영어: Python)은 1991년 프로그래머인 
                        귀도 반 로섬(Guido van Rossum)이 발표한 고급 프로그래밍 언어로,
                        플랫폼 독립적이며 인터프리터식, 객체지향적, 동적 타이핑(dynamically typed) 
                        대화형 언어이다. 파이썬이라는 이름은 귀도가 좋아하는 코미디 〈Monty Python's Flying 
                        Circus〉에서 따온 것이다."""
print(multi_line_string)

                        파이썬(영어: Python)은 1991년 프로그래머인
                        귀도 반 로섬(Guido van Rossum)이 발표한 고급 프로그래밍 언어로,
                        플랫폼 독립적이며 인터프리터식, 객체지향적, 동적 타이핑(dynamically typed)
                        대화형 언어이다. 파이썬이라는 이름은 귀도가 좋아하는 코미디 〈Monty Python's Flying
                        Circus〉에서 따온 것이다.

### Exercise 3.2.6
- 주어진 문장을 출력한다.  
Beautiful is better than ugly.  
Explicit is better than implicit.  
Simple is better than complex.  
Complex is better than complicated.  
Flat is better than nested.  
Sparse is better than dense.

In [60]:
solution1 = """Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense."""
print(solution1)

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.

In [7]:
a = '@'
b = 6

print(a*b + '\n' + (a + '    ' + a + '\n')*3 + a*b)

@@@@@@
@    @
@    @
@    @
@@@@@@

# 파이썬의 문자열 형식화
파이썬에서는 복잡한 출력을 위한 문자열 형식화(string formatting)라는 것을 지원한다.  
- % 기호를 사용한 방식  
- format 메서드를 사용한 방식

## % 기호를 사용한 문자열 형식화

- %s : 문자열  
- %d : 정수  
- %f : 부동소수점 실수

In [10]:
"My name is %s" % "Tom"

'My name is Tom'

In [11]:
"I am %d years old" %12

'I am 12 years old'

In [12]:
"%f is the value of pi" %3.141592

'3.141592 is the value of pi'

In [13]:
#여러개의 값을 문자열 안에 넣어야 한다면, %기호 뒤의 값을 소괄호로 감싼다.
"%d times %d is %d" %(2, 3, 6)

'2 times 3 is 6'

In [15]:
#서로 다른 형식의 값도 가능하다.
"%s's score is %d" %("Jane", 100)

"Jane's score is 100"

### Exercise 3.2.7  
1. name과 age라는 변수에 각각 이름과 나이를 넣고 다음과 같이 출력하라  
-> Tom is 13 years old  
2. 나눗셈을 할 두 숫자를 각각 a, b라는 변수에 넣고 다음과 같이 출력하는 코드를 만들어라.  
-> 10 / 3 = 3.333

In [16]:
#Solution1.
name = "Tom"
age = 13
print("%s is %d years old" %(name, age))

Tom is 13 years old

In [20]:
#Solution2.
a = 10
b = 3
print("%d / %d = %.3f" % (a, b, (a/b)))

10 / 3 = 3.333

## 고급 형식 표시 문자열
- %20s : 전체 20칸을 차지하는 문자열(공백을 앞에 붙인다.)
- %-10d : 전체 10칸을 차지하는 숫자(공백을 뒤에 붙인다.)
- %.5f : 부동소수점의 소수점 아래 5자리까지 표시

In [21]:
"[%20s]" % "*"

'[                   *]'

In [22]:
"[%-20s]" % "*"

'[*                   ]'

In [23]:
"[%20d]" % 88

'[                  88]'

In [26]:
x = 1 / 3.0
"%.5f" % x

'0.33333'

In [27]:
"[%-20.6f]" % x

'[0.333333            ]'

## format 메서드를 사용한 문자열 형식화

In [28]:
"My name is {}".format("Tom")

'My name is Tom'

In [29]:
"{}'s score is {}".format("Jane", 100)

"Jane's score is 100"

In [30]:
#{}안에 값으로 같은 값을 반복하거나 순서를 바꾸어 넣을 수도 있다.
"{1}'s score is {0}, {0}, {0}, {0}, {0}, {0}".format(100, "Jane")

"Jane's score is 100, 100, 100, 100, 100, 100"

공백의 크기를 지정하거나 부동소수점의 소수점 아래 숫자를 지정할 수도 있다.

In [33]:
"[{:20}]".format("*")

'[*                   ]'

In [34]:
"[{:>20}]".format("*")

'[                   *]'

In [36]:
"[{:<20.5f}]".format(x)

'[0.33333             ]'

### Exercise 3.2.8  
a, b 두 변수에 숫자를 넣고, 출력하라.

In [45]:
a = 3
b = 12
print(
"{:>8}\n{:<6}{}\n--------\n{:>8}".format(a, 'x', b, a*b)
)

       3
x     12
--------
      36

# 파이썬 조건문 기초

## if ~ else 명령

In [48]:
a == 1
if a % 2 == 0 : #짝수이면
    print("짝수")
else :
    print("홀수")

홀수

In [49]:
# 2자리 수의 짝수 / 홀수인지 알고 싶을 때의 조건문
b = 55
if (b >=10) & (b < 100) & (b % 2 == 0):
    print("2자리 수의 짝수")
else :
    print("2자리 수의 짝수가 아니다")

2자리 수의 짝수가 아니다

### Exercise 3.2.9  
1. a를 짝수로 하여 위의 코드를 재실행한다.  
2. b를 다른 수로 하여 위의 코드를 다시 실행한다.

In [50]:
a == 4
if a % 2 == 0 : #짝수이면
    print("짝수")
else :
    print("홀수")

홀수

In [51]:
b = 60
if (b >=10) & (b < 100) & (b % 2 == 0):
    print("2자리 수의 짝수")
else :
    print("2자리 수의 짝수가 아니다")

2자리 수의 짝수

### Exerxise 3.2.10  
변수 y의 값이 윤년이면 "윤년입니다"를 출력 / 아니라면 "윤년이 아닙니다"라고 출력하는 프로그램을 만든다. 윤년은 2월 29년이 있는 해로 다음과 같이 정해진다.  
- 서력 기원 연수가 4로 나누어 떨어지는 해는 윤년 (2004, 2008, 2012, ...)  
- 이 중에서 100으로 나누어 떨어지는 해는 평년 (1900, 2100, 2200, ...)  
- 이 중에서 400으로 나누어 떨어지는 해는 윤년 (1600, 2000, 2400, ...)

In [58]:
y = 1600
if (y % 4 == 0) & (y % 100 != 0) | (y % 400 == 0):
    print("윤년입니다.")
else :
    print("윤년이 아닙니다.")

윤년입니다.

## if ~ elif ~ else 명령
-> R에서의 ifelse 구문과 비교

In [60]:
#8개 이상 : A, 5~7 : B, ~4 : C
c = 6

if c >= 8 :
    print("A")
elif c >=5 :
    print("B")
else :
    print("C")

B

### Exercise 3.2.11  
c를 다른 수로 설정하고 다시 실행한다.

In [62]:
#8개 이상 : A, 5~7 : B, ~4 : C

c = 9
if c >= 8 :
    print("A")
elif c >=5 :
    print("B")
else :
    print("C")

A

### Exercise 3.2.12  
어떤 농장에서는 수박이 10kg이 넘으면 1등급, 그렇지 않고 7kg이 넘으면 2등급,  
그렇지 않고 4kg이 넘으면 3등급, 나머지는 4등급을 준다고 한다.  
이 수박의 등급을 정하는 파이썬 코드를 작성한다.

In [65]:
watermelon = 2

if watermelon > 10 :
    grade = '1등급'
elif watermelon > 7 :
    grade = "2등급"
elif watermelon > 4 :
    grade = "3등급"
else :
    grade = "4등급"

print(grade)

4등급

## 중첩 조건문
조건문 안에 조건문이 포함된 형태

학교에서 팔굽혀펴기 시험을 보는데 남자는 10번 이상을 해야 합격(Pass)이고 아니면 불합격(Fail)이다.  
여자는 5번 이상을 해야 합격이라면 다음과 같이 프로그램을 만들 수 있다.

In [68]:
sex = "boy"
pushup = 12

if sex == "boy" :
    if pushup >= 10 :
        grade = "Pass"
    else :
        grade = "Fail"
else :
    if pushup >= 5:
        grade = "Pass"
    else :
        grade = "Fail"
        
print(grade)

Pass

### Exercise 3.2.13
죄수의 딜레마 문제 조건문으로 구현하기.

In [70]:
XA = True
XB = False

if XA == True :
    if XB == True :
        YA = 5
        YB = 5
    else :
        YA = 0
        YB = 10
else :
    if XB == True :
        YA = 10
        YB = 0
    else :
        YA = 1
        YB = 1
        
print("YA is {}, YB is {}".format(YA, YB))

YA is 0, YB is 10

# 파이썬 함수

In [71]:
def twotimes(x) :
    y = 2*x
    return y

twotimes(6)

12

### Exercise 3.2.14
1. 짝수가 입력되면 "짝수"라는 문자열 / 홀수가 입력되면 "홀수"라는 문자열을 반환하는 함수를 구현하라.  
2. 윤년을 나타내는 수가 입력되면 "윤년"이라는 문자열을, 그렇지 않은 수가 입력되면 "평년"이라는 문자열을 반환하는 함수를 만든다.

In [72]:
#Solution 1.
def Func1(x) :
    if x % 2 == 0 :
        y = "짝수"
    else :
        y = "홀수"
    return y

Func1(5)

'홀수'

In [75]:
#Solution 2.
def Func2(x) :
    if (x % 4 == 0) & (x % 100 != 0) | (x % 400 == 0) :
        y = "윤년"
    else :
        y = "평년"
    return y

Func2(2003)

'평년'

### Exercise 3.2.15
평년일때의 각 월을 입력했을때 해당 월의 날짜수를 반환하는 함수 days1을 만든다.

In [78]:
#Solution1
def days1(x) :
    if x in (1, 3, 5, 7, 8, 10, 12):
        y = 31
    elif x == 2 :
        y = 28
    else :
        y = 30
    return y

days1(11)

30

### Exercise 3.2.16
연도와 월을 나타내는 숫자를 입력하면 그 달의 날짜 수를 반환하는 함수 days2를 만든다.

In [84]:
#Solution1

def days2(years, month) :
    if (years % 4 == 0) & (years % 100 != 0) | (years % 400 == 0) :
        y = "윤년"
    else :
        y = "평년"
    if y == "윤년" :
        if month in (1, 3, 5, 7, 8, 10, 12):
            d = 31
        elif month == 2 :
            d = 29
        else :
            d = 30
    else :
        if month in (1, 3, 5, 7, 8, 10, 12):
            d = 31
        elif month == 2 :
            d = 28
        else :
            d = 30
    return d

days2(2012, 2)

29

## 람다함수
함수에 이름을 주지 않거나 코드를 짧게 줄여쓰는 방법

In [85]:
#Example
def f(x) :
    return 2*x

In [86]:
#이 함수는 다음 람다함수와 같다.
def f(x) : return 2*x

In [87]:
f(2)

4

## 지역변수

### Exerxise 3.2.17
3개의 숫자를 입력하면 "그 숫자들의 합"과 "그 숫자들을 제곱한 숫자들의 합"의 차이를 계산하는 함수 diffsum을 만든다.

In [97]:
#Solution1
def diffsum(x1, x2, x3) :
    Sum = x1 + x2 + x3
    SS = (x1**2) + (x2**2) + (x3**2)
    if Sum > SS :
        y = Sum - SS
    else :
        y = SS - Sum
    return y

diffsum(1, 1, 1.1)

0.10999999999999988

## 전역변수

### Exercise 3.2.18
함수 바깥에 m이라는 전역변수를 만들고 그 값을 0으로 놓는다.  
앞에서 만든 diffsum함수를 고쳐서 diffsum함수와 같은 값을 반환하지만  
함수를 실행할 때마다 diffsum에서 계산된 값이 원래 있던 m보다 크면 m을 계산된 값으로 바꾸는 함수 diffsum2를 만든다

In [100]:
#Solution2
m = 0

def diffsum2(x1, x2, x3) :
    global m #함수 내에서 전역변수 m을 사용하는 방법
    Sum = x1 + x2 + x3
    SS = (x1**2) + (x2**2) + (x3**2)
    if Sum > SS :
        y = Sum - SS
    else :
        y = SS - Sum
    if m < y :
        m = y
    return y
diffsum2(1, 2, 3)

8

# 반복구문

## for 반복문

In [106]:
for i in range(10):
    print('=' + str(i+1) + '=')

=1=
=2=
=3=
=4=
=5=
=6=
=7=
=8=
=9=
=10=

### Exercise 3.2.19 / 3.2.20

In [108]:
for i in range(10):
    print("*"*(i+1))

*
**
***
****
*****
******
*******
********
*********
**********

In [109]:
for i in range(10) :
    print("*"*(9-i))

*********
********
*******
******
*****
****
***
**
*

### Exercise 3.2.21
- for 구문과 if 구문을 사용

In [115]:
for i in range(19) :
    if i < 10 :
        print("*"*(i+1)) #0~9 까지의 출력
    else :
        print("*"*(19-i)) #10~18까지의 출력

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

### Exercise 3.2.22

In [122]:
for i in range(11) :
    if i <= 5 :
        print(" "*(5-(i)) + "*"*(2*i + 1))
    else :
        print(" "*(i-5) + "*"*(21- 2*i))

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

## 중첩 for 반복문

In [126]:
for i in range(4) :
    for j in range(4) :
        print(i + j, end = " ")
    print()

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

In [127]:
for i in range(6) :
    n1 = i + 1
    for j in range(6) :
        n2 = j + 1
        print(n1, n2)

1 1
1 2
1 3
1 4
1 5
1 6
2 1
2 2
2 3
2 4
2 5
2 6
3 1
3 2
3 3
3 4
3 5
3 6
4 1
4 2
4 3
4 4
4 5
4 6
5 1
5 2
5 3
5 4
5 5
5 6
6 1
6 2
6 3
6 4
6 5
6 6

In [128]:
#합이 4의 배수일때만 출력
for i in range(6) :
    n1 = i + 1
    for j in range(6) :
        n2 = j + 1
        n = n1 + n2
        if n % 4 == 0 :
            print(n1, n2)

1 3
2 2
2 6
3 1
3 5
4 4
5 3
6 2
6 6

# 리스트와 딕셔너리

## 자료의 순서만 갖는 리스트 자료형

In [129]:
x = [88, 90, 100]
x

[88, 90, 100]

## 인덱싱

In [130]:
x[0]

88

In [131]:
(x[0] + x[1]) /2

89.0

### Exercise 3.2.26
시험 성적을 나타내는 임의의 숫자 5개를 리스트 변수 score에 넣고 평균을 구한다.

In [135]:
score = [50, 68, 87, 59, 90]
(score[0] + score[1]+ score[2]+ score[3]+ score[4]) / len(score)

70.8

## 자료의 이름만 갖는 딕셔너리 자료형

In [138]:
b = {'math' : 88, 'english' : 90, 'history' : 100}
b

{'english': 90, 'history': 100, 'math': 88}

In [139]:
b['math']

88

파이썬에서 자료의 키는 무엇이든 가능하다. 즉, 숫자도 키가 될 수 있다.

In [140]:
b2 = {1 : 10, 2 : 20}
b2

{1: 10, 2: 20}

In [141]:
b2[1]

10

### Exercise 3.2.27
1. 윤년이 아닌 평년의 경우에 각 달의 날짜 수를 저장하는 변수 days를 만든다.  
이 때 각 달을 표시하는 키는 두 글자짜리 문자열로 한다. 즉 1월은 "01", 12월은 "12"로 한다.  
2. 변수 days를 이용하여 짝수 달의 평균 날짜 수를 구한다.

In [145]:
days = {"01" : 31, "02" : 28, "03" : 31, "04" : 30, "05" : 31, "06" : 30,
       "07" : 31, "08" : 31, "09" : 30, "10" : 31, "11" : 30, "12" : 31}
days

{'01': 31,
 '02': 28,
 '03': 31,
 '04': 30,
 '05': 31,
 '06': 30,
 '07': 31,
 '08': 31,
 '09': 30,
 '10': 31,
 '11': 30,
 '12': 31}

In [146]:
(days['02'] + days['04'] + days['06'] + days['08'] + days['10'] + days['12']) / 6

30.166666666666668

## 자료형이 다른 경우

In [147]:
d = [1, 3.14, 'pi']
print(d)

[1, 3.14, 'pi']

In [148]:
#리스트 변수에 또 다른 리스트 변수를 넣는 경우
e = [[1, 10], [2, 20]]
e[1][1]

20

# 파이썬에서 리스트 자료형 다루기

In [149]:
a = [1, 2, 3]
len(a)

3

## 수열 생성하기

In [150]:
b = list(range(10))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [151]:
c = list(range(1, 10))
c

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [152]:
d = list(range(1, 10, 3))
d

[1, 4, 7]

## 값을 바꾸기
-> R과 동일

In [153]:
d[0] = 100
d

[100, 4, 7]

## 자료 추가하기
append 메서드 사용

In [158]:
e = list(range(4))
e

[0, 1, 2, 3]

In [159]:
e.append(4)
e

[0, 1, 2, 3, 4]

자료 삭제하기
del 명령 사용하기.

In [160]:
del e[2]
e

[0, 1, 3, 4]

## 슬라이싱
특정 범위의 값만을 사용할 때 : 기호 사용

In [161]:
g = list(range(20))
g

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [163]:
g[:5]

[0, 1, 2, 3, 4]

## 역 인덱싱
-> 음수 인덱스를 사용한 역인덱싱 : 이때 가장 뒤의 원소는 0이 아닌 -1값을 갖는다.

In [164]:
g[-1]

19

In [166]:
g[-5 : -2]
#마지막 인덱스에 해당하는 값은 가져오지 않는 것 주의하기.

[15, 16, 17]

### Exercise 3.2.28

In [167]:
sol1 = ['a', 'b','c','d','e','f','g','h','i','j']
sol1.append('k')
del sol1[2]
sol1

['a', 'b', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [170]:
sol2 = sol1[4:9]
sol2

['f', 'g', 'h', 'i', 'j']

# 리스트와 반복문을 사용하여 계산하기

In [178]:
a = [90, 85, 95, 80, 90, 100, 85, 75, 85, 80]
a

[90, 85, 95, 80, 90, 100, 85, 75, 85, 80]

In [172]:
len(a)

10

In [173]:
sum = 0
for i in range(len(a)) :
    sum = sum + a[i]
sum

865

In [174]:
average = sum / len(a)
average

86.5

In [176]:
s = []
a1 = [90, 85, 95, 80, 90, 100, 85, 75, 85, 80]
a2 = [95, 90, 90, 90, 95, 100, 90, 80, 95, 90]
for i in range(len(a1)) :
    s.append(a1[i] + a2[i])
s

[185, 175, 185, 170, 185, 200, 175, 155, 180, 170]

## 리스트의 원소를 직접 반복문에서 사용하기

In [179]:
sum = 0
for ai in a:
    sum = sum + ai
average = sum/len(a)
average

86.5

## zip 함수

In [182]:
list((zip(a1, a2)))
#range함수처럼 list화 해야 한다.
#각각의 묶음은 튜플로 구성된다.

[(90, 95),
 (85, 90),
 (95, 90),
 (80, 90),
 (90, 95),
 (100, 100),
 (85, 90),
 (75, 80),
 (85, 95),
 (80, 90)]

In [183]:
s = []
for a1i, a2i in zip(a1, a2) :
    s.append(a1i + a2i)
s

[185, 175, 185, 170, 185, 200, 175, 155, 180, 170]

## enumerate 함수
리스트의 원소를 반복하면서 동시에 인덱스값도 생성하게 하는 명령

In [184]:
for i, e in enumerate(["a", "b", "c"]) :
    print("i = %d, e = %s" %(i, e))

i = 0, e = a
i = 1, e = b
i = 2, e = c

In [185]:
s = [0,0,0,0,0,0,0,0,0,0]
a1 = [90, 85, 95, 80, 90, 100, 85, 75, 85, 80]
a2 = [95, 90, 90, 90, 95, 100, 90, 80, 95, 90]
for i, (a1i, a2i) in enumerate(zip(a1, a2)) :
    s[i] = a1i + a2i
s

[185, 175, 185, 170, 185, 200, 175, 155, 180, 170]

## 리스트의 리스트

In [186]:
X = [[85,  90,  20,  50,  60,  25,  30,  75,  40,  55],
     [70, 100,  70,  70,  55,  75,  55,  60,  40,  45],
     [25,  65,  15,  25,  20,   5,  60,  70,  35,  10],
     [80,  45,  80,  40,  75,  35,  80,  55,  70,  90],
     [35,  50,  75,  25,  35,  70,  65,  50,  70,  10]]
X

[[85, 90, 20, 50, 60, 25, 30, 75, 40, 55],
 [70, 100, 70, 70, 55, 75, 55, 60, 40, 45],
 [25, 65, 15, 25, 20, 5, 60, 70, 35, 10],
 [80, 45, 80, 40, 75, 35, 80, 55, 70, 90],
 [35, 50, 75, 25, 35, 70, 65, 50, 70, 10]]

In [187]:
#전체 평균 계산하기
sum = 0
num = 0
for i in range(len(X)) :
    for j in range(len(X[i])) :
        num = num + 1
        sum = sum + X[i][j]
        
sum / num

52.7

### Exercise 3.2.29

In [191]:
grade = [4, 3, 2, 3, 4]
hours = [3, 3, 1, 2, 2]
sum1 = 0
sum2 = 0
for i in range(len(grade)) :
    sum1 = grade[i]*hours[i]
    sum2 = hours[i]
    
GPA = sum1 / sum2
GPA

4.0

### Exercise 3.2.30

In [198]:
X = 6, 5, 4, 7, 3, 5
sum = 0
for i in range(len(X)) :
    sum = sum + X[i]

mean = sum / len(X)

SS = 0

for i in range(len(X)) :
    SS = SS + (X[i] - mean)**2

variance = SS / len(X)
print("mean : " + str(mean) +"\n" 
      + "variance : " + str(variance))

mean : 5.0
variance : 1.6666666666666667

# 파이썬에서 딕셔너리 자료형 다루기
## 자료의 개수
리스트와 동일한 len명령 사용

In [200]:
x = {"a" : 10, "b" : 20}
len(x)

2

## 자료의 갱신, 추가, 삭제

In [202]:
x["a"] = 30
x

{'a': 30, 'b': 20}

In [203]:
x["c"] = 50
x

{'a': 30, 'b': 20, 'c': 50}

In [204]:
del x['b']
x

{'a': 30, 'c': 50}

## 키 확인

In [205]:
"a" in x

True

In [206]:
"d" in x
#키의 존재유무를 확인할 수 있다.

False

## 딕셔너리 자료형의 반복
- 딕셔너리는 내부적으로 자료의 순서를 보장하지 않는 것을 염두.  
for 반복구문에서 딕셔너리 자료형을 사용하는 방법에는 3가지가 존재.  
-- 키만 반복하는 경우  
-- 값만 반복하는 경우  
-- 키와 값 쌍을 반복하는 경우

In [210]:
#키 반복
for k in x :
    print(k)

a
c

In [211]:
x.keys()

dict_keys(['a', 'c'])

In [212]:
for k in x.keys() :
    print(k)

a
c

In [213]:
#값 반복
x.values()

dict_values([30, 50])

In [214]:
for v in x.values():
    print(v)

30
50

In [217]:
#키와 값의 쌍 반복 : item
for k, v in x.items():
                   print("key [%s] => value [%d]" % (k, v))

key [a] => value [30]
key [c] => value [50]

# 파이썬 객체지향 프로그래밍

In [1]:
class Rectangle(object) :
    
    def __init__(self, h, v) :
        self.h = h
        self.v = v
        
    def area(self) :
        return self.h * self.v

In [4]:
r = Rectangle(10, 20)
a = r.area()
print(a)

200

In [8]:
r.h
r.area()

200

## 클래스

In [10]:
a = Rectangle(1, 2)
b = Rectangle(1, 3)
c = Rectangle(3, 4)

## 생성자

### Exercise 3.2.31
삼각형의 넒이를 계산하기 위한 클래스를 만든다.  
이 클래스는 다음과 같은 속성을 갖는다.  
- 밑변의 길이 b와 높이 h
- 삼각형의 넓이를 계산하는 메서드 area

In [11]:
class triangle(object) :
    
    def __init__(self, b, h):
        self.b = b
        self.h = h
    
    def area(self) :
        return self.b * self.h * (1/2)

In [14]:
A = triangle(2, 1)
print(A.area())

1.0

### Exercise 3.2.32
사각 기둥의 부피를 계산하기 위한 클래스를 만든다.  
- 밑면의 가로길이 a, 세로길이 b, 높이 h
- 부피를 계산하는 메서드 volume
- 겉넓이를 계산하는 메서드 surface

In [15]:
class V(object):
    
    def __init__(self, a, b, h) :
        self.a = a
        self.b = b
        self.h = h
    def volume(self) :
        return self.a * self.b * self.h
    def surface(self) :
        return (self.a * self.b + self.b * self.h + self.a * self.h)*2

## 게임 캐릭터와 객체 : 상속의 개념 이해하기

In [2]:
class Character(object) :
    
    def __init__(self) :
        self.life = 1000
    
    def attacked(self) : 
        self.life -= 10
        print("u공격받음! 생명력 = ", self.life)

In [3]:
a = Character()
b = Character()
c = Character()

In [4]:
a.attacked()
a.attacked()
a.attacked()
a.attacked()

u공격받음! 생명력 =  990
u공격받음! 생명력 =  980
u공격받음! 생명력 =  970
u공격받음! 생명력 =  960

### 클래스 상속
각각의 캐릭터에 '직업'을 부여하고 싶다면,
새로운 클래스를 만들어 상속을 사용한다.

In [5]:
class Warrior(Character) :
    
    def __init__(self) :
        super(Warrior, self).__init__() #부모 클래스의 생성자를 호출하여 life 초기화
        self.strength = 15
        self.intelligence = 5

In [6]:
class Wizard(Character) :
    
    def __init__(self) :
        super(Wizard, self).__init__() #부모 클래스의 생성자를 호출하여 life 초기화
        self.strength = 5
        self.intelligence = 15

이 클래스의 객체를 만들어 보면 명시적으로 만들지 않았지만,  
life라는 속성과 attacked라는 메서드를 가진다.  
-> 상속받았음을 의미한다.

In [7]:
a = Warrior()
b = Wizard()

In [8]:
a.life, b.life

(1000, 1000)

In [9]:
a.strength, b.strength

(15, 5)

## 메서드 오버라이딩
Method Overriding 이란, 여러 클래스에 걸쳐서 같은 이름의 메서드를 만드는 것.  
예를 들어 부모 클래스, 전사 클래스, 마법사 클래스에 공통으로 attack이라는  
메서드가 있지만, 각각 하는 일이 다를때는 다음처럼 같은 이름의 메서드를 클래스별로  
구현하면 된다. 이렇게 되면 부모 클래스에서 만든 메서드 정의를 자식 클래스에서는 변경해서 사용한다.

In [10]:
class Character(object) :
    def __init__(self) :
        self.life = 1000
        self.strength = 10
        self.intelligence = 10
        
    def attacked(self) :
        self.life -= 10
        print(u"공격받음! 생명력 = ", self.life)
        
    def attack(self) :
        print(u"공격!")

In [11]:
class Warrior(Character) :
    def __init__(self) :
        super(Warrior, self).__init__()
        self.strength = 15
        self.intelligence = 5
        
    def attack(self) :
        print(u"육탄 공격!")

In [12]:
class Wizard(Character) :
    def __init__(self) :
        super(Wizard, self).__init__()
        self.strength = 5
        self.intelligence = 15
        
    def attack(self) :
        print(u"마법 공격!")

In [13]:
a = Character()
b = Warrior()
c = Wizard()

In [14]:
a.attack(), b.attack(), c.attack()

공격!
육탄 공격!
마법 공격!

(None, None, None)

b와 c는 기존의 Character 클래스에서 받은 attack 메서드를 오버라이딩 한 것을 알 수 있다.

### Exercise 3.2.33
게임 캐릭터 코드에서 attacked 메서드도 오버라이딩을 하여,  
전사와 마법사가 공격을 받을 때 각각 다른 값을 갖도록 하여라.

In [15]:
class Warrior(Character) :
    def __init__(self) :
        super(Warrior, self).__init__()
        self.strength = 15
        self.intelligence = 5
        
    def attack(self) :
        print(u"육탄 공격!")

    def attacked(self) :
        self.life -= 5
        print(u"공격받음! 생명력 = ", self.life)

In [16]:
a = Warrior()
a.attacked()

공격받음! 생명력 =  995

In [18]:
class Wizard(Character) :
    def __init__(self) :
        super(Wizard, self).__init__()
        self.strength = 5
        self.intelligence = 15
        
    def attacked(self) :
        self.life -= 15
        print(u"공격받음! 생명력 = ", self.life)

In [19]:
b = Wizard()
b.attacked()

공격받음! 생명력 =  985

### Exercise 3.2.34
다음과 같이 자동차를 나타내는 car 클래스를 구현한다.  
- 이 클래스는 최고 속도를 의미하는 max_speed 라는 속성과 현재 속도를 나타내는 speed라는 속성을 가진다.
- 객체 생성시 max_speed 속성은 160이 되고 speed 속성은 0이 된다.
- speed_up , speed_down이라는 메서드를 가진다. speed_up을 호출하면 speed 속성이 20씩 증가하고 speed_down 을 호출하면 speed 속성이 20씩 감소한다.
- 스피드 속성 speed의 값은 max_speed의 속성 값, 즉 160을 넘을 수 없다. 또 0 미만으로 감소할 수도 없다.
- 메서드는 호출시 속도 정보를 출력하고 명시적인 반환값을 가지지 않는다.
- 위 기능이 모두 정상적으로 구현되었음을 보이는 코드를 추가한다.

In [51]:
class Car (object) :
    def __init__(self) :
        self.max_speed = 160
        self.speed = 0
    def speed_up(self) :
        if (self.speed >= self.max_speed - 20) :
            self.speed = self.max_speed
            print(u"최고속력 도달!")
        else :
            self.speed += 20
        print(u"현재 속력 : ", self.speed)
    def speed_down(self) :
        if (self.speed <= 20) : 
            self.speed = 0
            print(u"정지!")
        else :
            self.speed -=20
        print(u"현재 속력 : ", self.speed)

In [52]:
A = Car()
A.speed_up()
A.speed_up()
A.speed_up()
A.speed_up()
A.speed_up()
A.speed_up()
A.speed_up()
A.speed_up()
A.speed_up()
A.speed_up()
A.speed_down()
A.speed_down()
A.speed_down()
A.speed_down()
A.speed_down()
A.speed_down()
A.speed_down()
A.speed_down()
A.speed_down()
A.speed_down()
A.speed_down()

현재 속력 :  20
현재 속력 :  40
현재 속력 :  60
현재 속력 :  80
현재 속력 :  100
현재 속력 :  120
현재 속력 :  140
최고속력 도달!
현재 속력 :  160
최고속력 도달!
현재 속력 :  160
최고속력 도달!
현재 속력 :  160
현재 속력 :  140
현재 속력 :  120
현재 속력 :  100
현재 속력 :  80
현재 속력 :  60
현재 속력 :  40
현재 속력 :  20
정지!
현재 속력 :  0
정지!
현재 속력 :  0
정지!
현재 속력 :  0
정지!
현재 속력 :  0

### Exercise  3.2.35
Car 클래스를 기반으로 SportCar 와 Truct 이라는 두 개의 자식 클래스를 구현한다.
- SportCar 클래스는 max_speed 속성이 200이고 speed_up, speed_down 호출시 속도가 45씩 증가 혹은 감소한다.
- Truck 클래스는 max_speed 속성이 100이고 speed_up, speed_down 호출시 속도가 15씩 증가 혹은 감소한다.
- 스피드 속성 speed의 값은 max_speed 속성 값을 넘을 수 없다. 또 0 미만으로 감소할 수도 없다.

In [47]:
class SportCar(Car):

    def __init__(self):
        super(SportCar, self).__init__()
        self.max_speed = 200
        
    def speed_up(self) :
        if (self.speed >= self.max_speed - 45) :
            self.speed = self.max_speed
            print(u"최고속력 도달!")
        else :
            self.speed += 45
        print(u"현재 속력 : ", self.speed)
    def speed_down(self) :
        if (self.speed <= 45) : 
            self.speed = 0
            print(u"정지!")
        else :
            self.speed -=45
        print(u"현재 속력 : ", self.speed)

In [48]:
A = SportCar()
A.speed_up()
A.speed_up()
A.speed_up()
A.speed_up()
A.speed_up()
A.speed_up()
A.speed_down()
A.speed_down()
A.speed_down()
A.speed_down()
A.speed_down()

현재 속력 :  45
현재 속력 :  90
현재 속력 :  135
현재 속력 :  180
최고속력 도달!
현재 속력 :  200
최고속력 도달!
현재 속력 :  200
현재 속력 :  155
현재 속력 :  110
현재 속력 :  65
현재 속력 :  20
정지!
현재 속력 :  0

In [49]:
class Truck(Car):

    def __init__(self):
        super(Truck, self).__init__()
        self.max_speed = 100
        
    def speed_up(self) :
        if (self.speed >= self.max_speed - 15) :
            self.speed = self.max_speed
            print(u"최고속력 도달!")
        else :
            self.speed += 15
        print(u"현재 속력 : ", self.speed)
    def speed_down(self) :
        if (self.speed <= 15) : 
            self.speed = 0
            print(u"정지!")
        else :
            self.speed -=15
        print(u"현재 속력 : ", self.speed)

In [50]:
A = Truck()
A.speed_up()
A.speed_up()
A.speed_up()
A.speed_up()
A.speed_up()
A.speed_up()
A.speed_up()
A.speed_up()
A.speed_down()
A.speed_down()
A.speed_down()
A.speed_down()
A.speed_down()
A.speed_down()

현재 속력 :  15
현재 속력 :  30
현재 속력 :  45
현재 속력 :  60
현재 속력 :  75
현재 속력 :  90
최고속력 도달!
현재 속력 :  100
최고속력 도달!
현재 속력 :  100
현재 속력 :  85
현재 속력 :  70
현재 속력 :  55
현재 속력 :  40
현재 속력 :  25
현재 속력 :  10

## 특수 메서드 (Special Methods)

In [54]:
class Complex(object) :
    def __init__(self, realpart, imagpart) :
        self.r = realpart
        self.i = imagpart

In [55]:
c = Complex(1, 2)
c

In [56]:
str(c)

'<__main__.Complex object at 0x00000250AE4E3278>'

In [65]:
class Complex2(Complex) :
    
    def __repr__(self) :
        return "Complex : real = %f imag = %f" % (self.r, self.i)
    
    def __str__(self) :
        return "[for str]" + self.__repr__()

In [66]:
c2 = Complex2(1, 1)
c2

Complex : real = 1.000000 imag = 1.000000

In [67]:
str(c2)

'[for str]Complex : real = 1.000000 imag = 1.000000'

In [68]:
#__getitem__ 메서드

class Complex3(Complex2) :
    
    def __getitem__(self, key) :
        if key == "r" :
            return self.r
        if key == "i" :
            return self.i

In [69]:
c3 = Complex3(1, 2)
c3

Complex : real = 1.000000 imag = 2.000000

In [71]:
c3['i']

2

# 파이썬 패키지 사용하기

## 패키지 임포트

In [72]:
import sklearn as sk

In [73]:
dir(sk)

['_ASSUME_FINITE',
 '__SKLEARN_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__check_build',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_contextmanager',
 'base',
 'clone',
 'config_context',
 'exceptions',
 'externals',
 'get_config',
 'logger',
 'logging',
 'os',
 're',
 'set_config',
 'setup_module',
 'sys',
 'utils',
 'warnings']

## 선택적 임포트
from 패키지이름 import 명령어1, 2, 3  
선택적 임포트를 했을 때에는 패키지 이름과 마침표 없이 바로 명령어를 사용할 수 있다.

In [74]:
from numpy import arange
arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

## 패키지 확인 및 설치