# 3. 2. 파이썬을 계산기로 사용하기

## 정수 연산

In [2]:
1 + 1

2

In [5]:
1+  3 #띄어쓰기도 가능

4

In [6]:
8 // 3 #몫

2

In [7]:
8 % 3 #나머지

2

In [9]:
2 ** 4 #제곱

16

### Exercise 3.2.1
- 파이썬으로 다음 연산을 진행한다.

In [2]:
# 3 * 2 - 8 / 4
3 * 2 - 8 / 4

4.0

In [3]:
# 25 * 6 / 3 + 17
25 * 6 / 3 + 17

67.0

In [4]:
# 39021 - 276920 / 12040
39021 - 276920 / 12040

38998.0

In [5]:
# 2^6 - 10 % 6
(2**6) - (10%6)

60

## 연산 순서와 괄호

### Exercise 3.2.2
- 파이썬으로 다음 연산을 진행한다.

In [7]:
12 - (5*7+1)

-24

In [8]:
5 * (8+(10-6/2))

75.0

In [9]:
48320 - ((365-5*9)/16) * 987

28580.0

In [10]:
(((3**4)-3*7)%5 + 4)**2

16

## 부등식의 참과 거짓 계산

파이썬에서는 참과 거짓을 계산한 뒤, TRUE/FALSE로 값을 반환한다.

In [11]:
2 > 1

True

In [12]:
2 == 1

False

### Exercise 3.2.3
- 파이썬을 계산기로 사용하여 답이 True / False인 부등식을 만든다.

In [15]:
2 > 1

True

In [18]:
2 < 1

False

## 부울리언 대수 (And / Or 연산)

In [19]:
(2 > 0) & (2 < 3)

True

In [21]:
(2 > 2) | (2 < 3) #True가 선행함을 알 수 있다.

True

### Exercise 3.2.4
- 다음 식의 값이 참인지 거짓인지 파이썬으로 확인한다.

In [23]:
(5 <= 6) & (3 == 4)

False

In [25]:
(2 != 1) | (3 >= 4)

True

In [26]:
(5 <= 6) & ((0 == 0) | (3 < 4))

True

## 변수 사용하기
특정 값을 변수에 담아두었다가 사용한다.
R과는 다르게 등호 기호만을 사용할 수 있으며, 좌변에는 할당할 변수를 둔다.

In [27]:
a = 2
b = 3
a*b

6

### Exercise 3.2.5
- 변수들의 값을 바꾸어 가면서 수식을 계산해 보자.

In [36]:
x = 2 ; y = 7 ; z = 10
(2*x-1)**2 + 1

10

In [39]:
(x**(2*y)) * (z + 10)

327680

# 파이썬으로 글자를 출력하기

In [40]:
print('Hello')

Hello

In [41]:
print('Good day!')

Good day!

## 문자열 연산
문자열도 숫자처럼 덧셈과 곱셈 연산을 할 수 있다.

In [42]:
print('Hello, ' + 'World!')

Hello, World!

In [44]:
print('내 이름은 ' + '홍길동' + '입니다.')

내 이름은 홍길동입니다.

In [45]:
print('*' * 10)

**********

## 숫자를 문자열로 바꾸기

In [46]:
str(7)

'7'

In [48]:
n = 10
print('별표를 ' +str(n) + '번 출력합니다.')
print('*' * n)

별표를 10번 출력합니다.
**********

## 한 줄 띄우기(line feed)

In [49]:
print('한 줄 쓰고\n그 다음 줄을 쓴다.')

한 줄 쓰고
그 다음 줄을 쓴다.

## 줄을 바꾸지 않고 이어서 출력하기

In [51]:
print('한 줄 쓰고 ', end = '')
print('이어서 쓴다.')

한 줄 쓰고 이어서 쓴다.

## 문자열 값을 가지는 변수

In [52]:
name = '홍길동'
print('내 이름은 ' + name + '입니다.')

내 이름은 홍길동입니다.

In [54]:
mark = '$'
n = 20
print(mark + ' 기호를' + str(n) + '번 출력합니다.')
print(mark * n)

$ 기호를20번 출력합니다.
$$$$$$$$$$$$$$$$$$$$

## 따옴표를 출력하기
문자열 내에 큰따옴표가 있어야 할때는 전체를 작은 따옴표로,  
반대 상황에서는 반대로 사용하면 된다.

In [55]:
print('둘리가 "호이!"하고 말했어요.')

둘리가 "호이!"하고 말했어요.

In [56]:
print("둘리가 '이제 어디로 가지?'하고 생각했어요.")

둘리가 '이제 어디로 가지?'하고 생각했어요.

## 여러 줄의 문자열 출력하기
여러 줄의 문자를 출력 / 변수에 할당하려면 '''~''' & """~"""을 사용.

In [57]:
multi_line_string = """
                        파이썬(영어: Python)은 1991년 프로그래머인 
                        귀도 반 로섬(Guido van Rossum)이 발표한 고급 프로그래밍 언어로,
                        플랫폼 독립적이며 인터프리터식, 객체지향적, 동적 타이핑(dynamically typed) 
                        대화형 언어이다. 파이썬이라는 이름은 귀도가 좋아하는 코미디 〈Monty Python's Flying 
                        Circus〉에서 따온 것이다."""
print(multi_line_string)

                        파이썬(영어: Python)은 1991년 프로그래머인
                        귀도 반 로섬(Guido van Rossum)이 발표한 고급 프로그래밍 언어로,
                        플랫폼 독립적이며 인터프리터식, 객체지향적, 동적 타이핑(dynamically typed)
                        대화형 언어이다. 파이썬이라는 이름은 귀도가 좋아하는 코미디 〈Monty Python's Flying
                        Circus〉에서 따온 것이다.

### Exercise 3.2.6
- 주어진 문장을 출력한다.  
Beautiful is better than ugly.  
Explicit is better than implicit.  
Simple is better than complex.  
Complex is better than complicated.  
Flat is better than nested.  
Sparse is better than dense.

In [60]:
solution1 = """Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense."""
print(solution1)

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.

In [7]:
a = '@'
b = 6

print(a*b + '\n' + (a + '    ' + a + '\n')*3 + a*b)

@@@@@@
@    @
@    @
@    @
@@@@@@

# 파이썬의 문자열 형식화
파이썬에서는 복잡한 출력을 위한 문자열 형식화(string formatting)라는 것을 지원한다.  
- % 기호를 사용한 방식  
- format 메서드를 사용한 방식

## % 기호를 사용한 문자열 형식화

- %s : 문자열  
- %d : 정수  
- %f : 부동소수점 실수

In [10]:
"My name is %s" % "Tom"

'My name is Tom'

In [11]:
"I am %d years old" %12

'I am 12 years old'

In [12]:
"%f is the value of pi" %3.141592

'3.141592 is the value of pi'

In [13]:
#여러개의 값을 문자열 안에 넣어야 한다면, %기호 뒤의 값을 소괄호로 감싼다.
"%d times %d is %d" %(2, 3, 6)

'2 times 3 is 6'

In [15]:
#서로 다른 형식의 값도 가능하다.
"%s's score is %d" %("Jane", 100)

"Jane's score is 100"

### Exercise 3.2.7  
1. name과 age라는 변수에 각각 이름과 나이를 넣고 다음과 같이 출력하라  
-> Tom is 13 years old  
2. 나눗셈을 할 두 숫자를 각각 a, b라는 변수에 넣고 다음과 같이 출력하는 코드를 만들어라.  
-> 10 / 3 = 3.333

In [16]:
#Solution1.
name = "Tom"
age = 13
print("%s is %d years old" %(name, age))

Tom is 13 years old

In [20]:
#Solution2.
a = 10
b = 3
print("%d / %d = %.3f" % (a, b, (a/b)))

10 / 3 = 3.333

## 고급 형식 표시 문자열
- %20s : 전체 20칸을 차지하는 문자열(공백을 앞에 붙인다.)
- %-10d : 전체 10칸을 차지하는 숫자(공백을 뒤에 붙인다.)
- %.5f : 부동소수점의 소수점 아래 5자리까지 표시

In [21]:
"[%20s]" % "*"

'[                   *]'

In [22]:
"[%-20s]" % "*"

'[*                   ]'

In [23]:
"[%20d]" % 88

'[                  88]'

In [26]:
x = 1 / 3.0
"%.5f" % x

'0.33333'

In [27]:
"[%-20.6f]" % x

'[0.333333            ]'

## format 메서드를 사용한 문자열 형식화

In [28]:
"My name is {}".format("Tom")

'My name is Tom'

In [29]:
"{}'s score is {}".format("Jane", 100)

"Jane's score is 100"

In [30]:
#{}안에 값으로 같은 값을 반복하거나 순서를 바꾸어 넣을 수도 있다.
"{1}'s score is {0}, {0}, {0}, {0}, {0}, {0}".format(100, "Jane")

"Jane's score is 100, 100, 100, 100, 100, 100"

공백의 크기를 지정하거나 부동소수점의 소수점 아래 숫자를 지정할 수도 있다.

In [33]:
"[{:20}]".format("*")

'[*                   ]'

In [34]:
"[{:>20}]".format("*")

'[                   *]'

In [36]:
"[{:<20.5f}]".format(x)

'[0.33333             ]'

### Exercise 3.2.8  
a, b 두 변수에 숫자를 넣고, 출력하라.

In [45]:
a = 3
b = 12
print(
"{:>8}\n{:<6}{}\n--------\n{:>8}".format(a, 'x', b, a*b)
)

       3
x     12
--------
      36

# 파이썬 조건문 기초

## if ~ else 명령

In [48]:
a == 1
if a % 2 == 0 : #짝수이면
    print("짝수")
else :
    print("홀수")

홀수

In [49]:
# 2자리 수의 짝수 / 홀수인지 알고 싶을 때의 조건문
b = 55
if (b >=10) & (b < 100) & (b % 2 == 0):
    print("2자리 수의 짝수")
else :
    print("2자리 수의 짝수가 아니다")

2자리 수의 짝수가 아니다

### Exercise 3.2.9  
1. a를 짝수로 하여 위의 코드를 재실행한다.  
2. b를 다른 수로 하여 위의 코드를 다시 실행한다.

In [50]:
a == 4
if a % 2 == 0 : #짝수이면
    print("짝수")
else :
    print("홀수")

홀수

In [51]:
b = 60
if (b >=10) & (b < 100) & (b % 2 == 0):
    print("2자리 수의 짝수")
else :
    print("2자리 수의 짝수가 아니다")

2자리 수의 짝수

### Exerxise 3.2.10  
변수 y의 값이 윤년이면 "윤년입니다"를 출력 / 아니라면 "윤년이 아닙니다"라고 출력하는 프로그램을 만든다. 윤년은 2월 29년이 있는 해로 다음과 같이 정해진다.  
- 서력 기원 연수가 4로 나누어 떨어지는 해는 윤년 (2004, 2008, 2012, ...)  
- 이 중에서 100으로 나누어 떨어지는 해는 평년 (1900, 2100, 2200, ...)  
- 이 중에서 400으로 나누어 떨어지는 해는 윤년 (1600, 2000, 2400, ...)

In [57]:
y = 
if (y % 4 == 0) & (y % 100 != 0) | (y % 400 == 0):
    print("윤년입니다.")
else :
    print("윤년이 아닙니다.")

윤년입니다.